@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.3rem;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 8s ease infinite;
}

#root {
  background-color: #121212;
}

html {
  scroll-behavior: smooth;
}
